# Copy this file to a file named .env
# Filling in the various values will allow pytest to execute more of the test suite.
PYTEST_CLOUDSMITH_API_HOST=
PYTEST_CLOUDSMITH_API_KEY=
PYTEST_CLOUDSMITH_ORGANIZATION=
PYTEST_CLOUDSMITH_PASSWORD=
PYTEST_CLOUDSMITH_USERNAME=
# Optional: a Workspace with a validated NuGet custom domain, and an API key for it.
PYTEST_CLOUDSMITH_CUSTOM_DOMAIN_WORKSPACE=
PYTEST_CLOUDSMITH_CUSTOM_DOMAIN_API_KEY=
