# VirtualEnv
has virtualenv && test -d .venv && {
    source .venv/bin/activate
} || {
    virtualenv -p python$(cut -d. -f -2 .python-version | head -n 1) .venv || exit 1
    source .venv/bin/activate || exit 1
    pip install --upgrade pip &>/dev/null
    pip install -r requirements_dev.txt
}

# Python
export PYTHONDONTWRITEBYTECODE=1

# UTF-8
export LC_ALL='en_US.UTF-8'
export LANG='en_US.UTF-8'
export LANGUAGE='en_US.UTF-8'

# Path
path_add PATH $(expand_path bin)

unset PS1
