has virtualenv && {
    test -d .venv || {
        virtualenv .venv --no-site-packages
        source .venv/bin/activate
        pip install -r requirements_dev.txt
    }

    source .venv/bin/activate
    pip install --upgrade pip &>/dev/null
}

# UTF-8
export LC_ALL='en_US.UTF-8'
export LANG='en_US.UTF-8'
