has virtualenv && {
    (test -d .venv/py2 && test -d .venv/py3) || {
        mkdir -p .venv

        test -d .venv/py2 || {
            virtualenv -p python2.7 .venv/py2 --no-site-packages
            .venv/py2/bin/pip install -r requirements/development.py2.txt
            .venv/py2/bin/pip install --upgrade pip &>/dev/null
        }

        test -d .venv/py3 || {
            virtualenv -p python3.6 .venv/py3 --no-site-packages
            source .venv/py3/bin/activate
            .venv/py3/bin/pip install -r requirements/development.py3.txt
            .venv/py3/bin/pip install --upgrade pip &>/dev/null
        }
    }

    source .venv/py3/bin/activate
}

# Python
export PYTHONDONTWRITEBYTECODE=1

# UTF-8
export LC_ALL='en_US.UTF-8'
export LANG='en_US.UTF-8'
export LANGUAGE='en_US.UTF-8'
