# Python bytecode:
*.py[co]

# Packaging files:
*.egg*

# SQLite3 database files:
*.db

# Logs:
*.log

# Backup files
*.bak

# Build
dist/
build/
*.egg-info/

# Transient
node_modules/
reports/

# Virtualenv/Tox
**/.venv
.tox

# Coverage
.coverage

# Reports
/reports

# Pytest
.pytest_cache

# Jetbrains IDEs
.idea

# dotenv
.env

# Zipapp
*.pyz