# Pre-Commit hooks
# See: https://pre-commit.com/hooks.html
repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v5.0.0
  hooks:
  - id: check-added-large-files
  - id: check-ast
  - id: check-builtin-literals
  - id: check-byte-order-marker
  - id: check-json
  - id: check-merge-conflict
  - id: check-symlinks
  - id: check-yaml
  - id: debug-statements
  - id: detect-aws-credentials
    args: ['--allow-missing-credentials']
  - id: detect-private-key
    exclude: >
      (?x)^(
        .bumpversion.cfg
      )$
  - id: end-of-file-fixer
    exclude: >
      (?x)^(
        \.bumpversion\.cfg
      )$
  - id: forbid-new-submodules
  - id: name-tests-test
    args: ['--django']
    exclude: >
      (?x)^(
        cloudsmith/.*/tests/apps\.py|
        cloudsmith/.*/tests/enums\.py|
        cloudsmith/.*/tests/factories\.py|
        cloudsmith/.*/tests/forms\.py|
        cloudsmith/.*/tests/models\.py|
        cloudsmith/.*/tests/mixins\.py|
        cloudsmith_cli/.*/tests/utils\.py|
        cloudsmith/.*/tests/views\.py
      )$
  - id: trailing-whitespace

- repo: https://github.com/psf/black
  rev: 25.1.0
  hooks:
  - id: black

- repo: https://github.com/pycqa/flake8
  rev: '7.1.2'
  hooks:
  - id: flake8
    args: ['--config=.flake8']

- repo: https://github.com/pycqa/isort
  rev: 6.0.1
  hooks:
  - id: isort

-   repo: https://github.com/asottile/pyupgrade
    rev: v3.19.1
    hooks:
    -   id: pyupgrade

- repo: https://github.com/zizmorcore/zizmor-pre-commit
  rev: v1.20.0
  hooks:
  - id: zizmor

- repo: local
  hooks:
    - id: pylint
      name: pylint
      entry: pylint
      language: system
      types: [python]
      args:
        [
          "-rn", # Only display messages
          "-sn", # Don't display the score
          "--rcfile=.pylintrc", # Link to your config file
        ]
