<settings>
  <servers>
    <server>
      <id><!-- SERVER_ID_PLACEHOLDER --></id>
      <username>token</username>
      <password><!-- TOKEN_PLACEHOLDER --></password>
    </server>
  </servers>
  <profiles>
    <profile>
      <id><!-- SERVER_ID_PLACEHOLDER --></id>
      <repositories>
        <repository>
          <id><!-- SERVER_ID_PLACEHOLDER --></id>
          <url><!-- URL_PLACEHOLDER --></url>
        </repository>
      </repositories>
      <pluginRepositories>
        <pluginRepository>
          <id><!-- SERVER_ID_PLACEHOLDER --></id>
          <url><!-- URL_PLACEHOLDER --></url>
        </pluginRepository>
      </pluginRepositories>
    </profile>
  </profiles>
  <activeProfiles>
    <activeProfile><!-- SERVER_ID_PLACEHOLDER --></activeProfile>
  </activeProfiles>
</settings>
