<distributionManagement>
  <repository>
    <id><!-- SERVER_ID_PLACEHOLDER --></id>
    <url><!-- URL_PLACEHOLDER --></url>
  </repository>
  <snapshotRepository>
    <id><!-- SERVER_ID_PLACEHOLDER --></id>
    <url><!-- URL_PLACEHOLDER --></url>
  </snapshotRepository>
</distributionManagement>
