# Python CircleCI 2.0 configuration file
#
# Check https://circleci.com/docs/2.0/language-python/ for more details
#
version: 2.1

jobs:
  publish:
    docker:
      - image: cimg/python:3.9
    parameters:
      registry_url:
        description: Registry URL to upload the CLI to
        type: string
        default: https://upload.pypi.org/legacy/
      username:
        description: Twine username
        type: string
      password:
        description: Twine password
        type: string
    steps:
      - checkout
      - run: pip install --user --upgrade setuptools twine wheel
      - run: |
          python setup.py bdist_wheel
          twine upload --repository-url <<parameters.registry_url>> --username <<parameters.username>> --password <<parameters.password>> --verbose dist/*

orbs:
  python: circleci/python@2.1.1
  cloudsmith_ci:
    jobs:
      execute:
        parameters:
          service_name:
            description: Name of the command to execute
            type: string
          command:
            description: The command to execute
            type: string
          no_output_timeout:
            description: Number of seconds to let job run without output before timeout
            type: integer
            default: 600
          is_test_suite:
            description: Should the job collect test results and coverage?
            type: boolean
            default: false
        executor: cloudsmith_executor
        working_directory: ~/repo
        steps:
          - checkout
          - restore_cache:
              keys:
                - v1-dependencies-{{ checksum "requirements.txt" }}
                - v1-dependencies-
          - run:
              name: Install dependencies
              command: |
                python3 -m venv .venv
                . .venv/bin/activate
                pip install -r requirements.txt
          - when:
              condition: <<parameters.is_test_suite>>
              steps:
                - run:
                    name: Setup Code Climate coverage reporter
                    command: |
                      test "$CIRCLE_LOCAL" == "true" || {
                        curl -L https://codeclimate.com/downloads/test-reporter/test-reporter-latest-linux-amd64 > ./cc-test-reporter;
                        chmod +x ./cc-test-reporter;
                      }
                - run:
                    name: Notify Code Climate of pending test report
                    command:
                      test "$CIRCLE_LOCAL" == "true" || {
                        ./cc-test-reporter before-build;
                      }
          - save_cache:
              paths:
                - .venv
              key: v1-dependencies-{{ checksum "requirements.txt" }}
          - run:
              name: Run <<parameters.service_name>>
              command: |
                . .venv/bin/activate
                <<parameters.command>>
                echo $? > /tmp/run_exit_code
              no_output_timeout: <<parameters.no_output_timeout>>
          - when:
              condition: <<parameters.is_test_suite>>
              steps:
                - store_test_results:
                    path: ./reports
                - store_artifacts:
                    path: ./reports
                - deploy:
                    command: |
                      test "$CIRCLE_LOCAL" == "true" || {
                        . .venv/bin/activate
                        cp ./reports/coverage.xml .;
                        ./cc-test-reporter after-build -t coverage.py --exit-code $(cat /tmp/run_exit_code);
                      }

    executors:
      cloudsmith_executor:
        docker:
          - image: circleci/python:3.9


workflows:
  commit:
    jobs:
      - cloudsmith_ci/execute:
          name: isort
          service_name: isort
          command: pre-commit run -a isort
      - cloudsmith_ci/execute:
          name: black
          service_name: black
          command: pre-commit run -a black
      - cloudsmith_ci/execute:
          name: flake8
          service_name: flake8
          command: pre-commit run -a flake8
      - cloudsmith_ci/execute:
          name: pyupgrade
          service_name: pyupgrade
          command: pre-commit run -a pyupgrade
      - cloudsmith_ci/execute:
          name: pylint
          service_name: pylint
          command: pylint --rcfile=.pylintrc cloudsmith_cli
          no_output_timeout: 1200
      - cloudsmith_ci/execute:
          name: pytest
          service_name: pytest
          command: pytest --cov-report xml:./reports/coverage.xml --junitxml ./reports/pytest.xml
          is_test_suite: true
      - python/test:
          name: pytest-python3.10
          version: "3.10"
          pkg-manager: pip
          pip-dependency-file: requirements.txt
      - python/test:
          name: pytest-python3.11
          version: "3.11"
          pkg-manager: pip
          pip-dependency-file: requirements.txt
      - python/test:
          name: pytest-python3.12
          version: "3.12"
          pkg-manager: pip
          pip-dependency-file: requirements.txt
      - python/test:
          name: pytest-python3.13
          version: "3.13"
          pkg-manager: pip
          pip-dependency-file: requirements.txt
      - publish:
          filters:
            branches:
              ignore: /.*/
            tags:
              only: /^v.*/
          name: cloudsmith
          registry_url: https://python.cloudsmith.io/cloudsmith/cli/
          username: $CLOUDSMITH_USERNAME
          password: $CLOUDSMITH_PASSWORD
      - publish:
          filters:
            branches:
              ignore: /.*/
            tags:
              only: /^v.*/
          name: pypi
          username: $PYPI_USERNAME
          password: $PYPI_PASSWORD
