name: Create Zipapp and Release

on:
    push:
        tags:
            - "v*"

permissions:
  id-token: write
  contents: write

jobs:
    # Build and publish to GitHub, Cloudsmith (zipapp + Docker)
    build:
        name: Build and publish artifacts
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v4

            - name: Set up Python 3.10
              uses: actions/setup-python@v5
              with:
                  python-version: '3.10'
                  cache: 'pip'

            - name: Install build dependencies
              run: |
                  python -m pip install --upgrade pip
                  pip install pex setuptools wheel

            - name: Get version
              id: get_version
              run: echo "VERSION=$(cat cloudsmith_cli/data/VERSION)" >> $GITHUB_ENV

            - name: Create multi-platform Zipapp with PEX
              run: |
                pex . \
                  --output-file cloudsmith-${{ env.VERSION }}.pyz \
                  --console-script cloudsmith \
                  --python-shebang "/usr/bin/env python3" \
                  --venv \
                  --complete-platform .github/.platforms/linux-x86_64-py310.json \
                  --complete-platform .github/.platforms/linux-aarch64-py310.json \
                  --complete-platform .github/.platforms/linux-x86_64-musl-py310.json \
                  --complete-platform .github/.platforms/linux-aarch64-musl-py310.json \
                  --complete-platform .github/.platforms/macos-arm64-py310.json \
                  --complete-platform .github/.platforms/windows-x86_64-py310.json

            - name: Create Release
              id: create_release
              uses: actions/create-release@v1
              env:
                  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
              with:
                  tag_name: v${{ env.VERSION }}
                  release_name: Release v${{ env.VERSION }}
                  draft: false
                  prerelease: false

            - name: Upload Release Asset
              id: upload-release-asset
              uses: actions/upload-release-asset@v1
              env:
                  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
              with:
                  upload_url: ${{ steps.create_release.outputs.upload_url }}
                  asset_path: ./cloudsmith-${{ env.VERSION }}.pyz
                  asset_name: cloudsmith-${{ env.VERSION }}.pyz
                  asset_content_type: application/zip

            - name: Install and authenticate Cloudsmith CLI
              uses: cloudsmith-io/cloudsmith-cli-action@v1
              with:
                  oidc-namespace: ${{ vars.CLOUDSMITH_NAMESPACE }}
                  oidc-service-slug: ${{ vars.CLOUDSMITH_SVC_SLUG }}

            - name: Push Zipapp to Cloudsmith
              id: push_zipapp
              run: cloudsmith push raw ${{ vars.CLOUDSMITH_NAMESPACE }}/cli-zipapp ./cloudsmith-${{ env.VERSION }}.pyz --name cloudsmith-cli --version ${{ env.VERSION }}

            - name: Build Python packages
              run: python setup.py sdist bdist_wheel

            - name: Push source distribution to Cloudsmith
              run: cloudsmith push python ${{ vars.CLOUDSMITH_NAMESPACE }}/cli dist/cloudsmith-cli-${{ env.VERSION }}.tar.gz

            - name: Push wheel to Cloudsmith
              run: cloudsmith push python ${{ vars.CLOUDSMITH_NAMESPACE }}/cli dist/cloudsmith_cli-${{ env.VERSION }}-py3-none-any.whl

            - name: Set up QEMU for multi-arch
              uses: docker/setup-qemu-action@v3

            - name: Set up Docker Buildx
              uses: docker/setup-buildx-action@v3

            - name: Push Dockerised CLI to Cloudsmith (multi-arch)
              id: push_dockerised_cli_cloudsmith
              run: |
                echo "${CLOUDSMITH_API_KEY}" | docker login docker.cloudsmith.io -u ${{ vars.CLOUDSMITH_SVC_SLUG }} --password-stdin
                docker buildx build \
                  --platform linux/amd64,linux/arm64 \
                  --build-arg CLOUDSMITH_CLI_VERSION=${{ env.VERSION }} \
                  -t docker.cloudsmith.io/${{ vars.CLOUDSMITH_NAMESPACE }}/cli-zipapp/cloudsmith-cli:${{ env.VERSION }} \
                  --push .

            - name: Push Dockerised CLI to DockerHub (multi-arch)
              id: push_dockerised_cli_dockerhub
              run: |
                echo "${{ secrets.DOCKERHUB_PAT }}" | docker login -u ${{ vars.DOCKERHUB_USER }} --password-stdin
                docker buildx build \
                  --platform linux/amd64,linux/arm64 \
                  --build-arg CLOUDSMITH_CLI_VERSION=${{ env.VERSION }} \
                  -t cloudsmith/cloudsmith-cli:${{ env.VERSION }} \
                  --push .

    # Publish Python packages to PyPI
    publish-pypi:
        name: Publish to PyPI
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v4

            - name: Set up Python 3.10
              uses: actions/setup-python@v5
              with:
                  python-version: '3.10'

            - name: Install build dependencies
              run: |
                  python -m pip install --upgrade pip
                  pip install setuptools wheel

            - name: Build packages
              run: python setup.py sdist bdist_wheel

            - name: Publish to PyPI
              uses: pypa/gh-action-pypi-publish@release/v1
              with:
                  packages-dir: dist/
