name: Zizmor

on:
  push:
    branches:
      - master
    paths:
      - ".github/workflows/**"
  pull_request:
    branches:
      - "**"
    paths:
      - ".github/workflows/**"

permissions:
  contents: read
  security-events: write

jobs:
  zizmor:
    name: Scan GitHub Actions workflows
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
        with:
          persist-credentials: false

      - name: Run zizmor
        uses: woodruffw/zizmor-action@ea1875b47455dadba9f3583afae3b5f6bc7c2cd8 # v2.0.0
        with:
          args: --format sarif --output results.sarif .github/workflows

      - name: Upload SARIF file
        uses: github/codeql-action/upload-sarif@ff0a06e83cb2de871e5a09832bc6a81e7276941f # v3.28.18
        with:
          sarif_file: results.sarif
          category: zizmor
